## Python Mini-Project: Data Clean-Up, Pt. 2

Pay close attention to the prompts to help guide you through this task.

In [1]:
# Dependencies
import pandas as pd
import os
import csv
import numpy as np

In [2]:
# load CSV
csvpath = os.path.join("Resources", "2016-FCC-New-Coders-Survey-Data.csv")

In [3]:
# Read with pandas--low_memory required to suppress errors about mixed data types
# You may need to encode this file

dataclean2_df = pd.read_csv(csvpath,dtype=object,)

dataclean2_df.head(10)

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000
1,22,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000
4,20,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN
5,34,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,English,NaN
6,23,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Computer Science,NaN
7,35,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,master's degree (non-professional),Education,NaN
8,33,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1,NaN,NaN,NaN,bachelor's degree,Business Administration,NaN
9,33,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,master's degree (non-professional),Business Administration,180000

In [4]:
# Take only columns 0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111
# Consider using iloc

new_codevs2_pd = dataclean2_df.iloc[:,[0, 1, 2, 3, 4, 7, 8, 9, 10,11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]]

new_codevs2_pd.head(10)

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28,0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,office and administrative support,Employed for wages,male,0,30,32000,NaN,"some college credit, no degree",NaN
1,22,0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,food and beverage,Employed for wages,male,NaN,30,15000,Front-End Web Developer,"some college credit, no degree",NaN
2,19,0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Employed for wages,male,NaN,20,48000,NaN,high school diploma or equivalent (GED),NaN
3,26,0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20,43000,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20,0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,education,Employed for wages,female,NaN,25,6000,Full-Stack Web Developer,"some college credit, no degree",NaN
5,34,0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Self-employed freelancer,male,NaN,5,40000,NaN,bachelor's degree,English
6,23,0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Singapore,software development,Employed for wages,male,NaN,8,32000,NaN,bachelor's degree,Computer Science
7,35,0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United Kingdom,office and administrative support,Employed for wages,male,0,NaN,40000,NaN,master's degree (non-professional),Education
8,33,0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,software development,Employed for wages,male,NaN,5,80000,NaN,bachelor's degree,Business Administration
9,33,0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,NaN,Employed for wages,male,NaN,20,80000,NaN,master's degree (non-professional),Business Administration

In [5]:
# Change reading 0 and 1 to No and Yes, respectively
yesno = {"0":'No', "1":'Yes'}
new_codevs2_pd.AttendedBootcamp.replace(yesno, inplace=True)
new_codevs2_pd.BootcampFinish.replace(yesno, inplace=True)
new_codevs2_pd.BootcampRecommend.replace(yesno, inplace=True)

new_codevs2_pd.head()

#writer = pd.ExcelWriter('newp2_pdf.xlsx')
#new_codevs2_pd.to_excel(writer,'Sheet1')
#writer.save()
#writer.close()

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,office and administrative support,Employed for wages,male,0,30,32000,NaN,"some college credit, no degree",NaN
1,22,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,food and beverage,Employed for wages,male,NaN,30,15000,Front-End Web Developer,"some college credit, no degree",NaN
2,19,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Employed for wages,male,NaN,20,48000,NaN,high school diploma or equivalent (GED),NaN
3,26,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20,43000,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,education,Employed for wages,female,NaN,25,6000,Full-Stack Web Developer,"some college credit, no degree",NaN

In [6]:
# Extract rows for only those who attended a bootcamp

BCstay_df = new_codevs2_pd.loc[new_codevs2_pd["AttendedBootcamp"]== "Yes"]
BCstay_df

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
93,32,Yes,Yes,0,0,NaN,No,NaN,"between 100,000 and 1 million",NaN,United States of America,"arts, entertainment, sports, or media",Self-employed business owner,male,NaN,20,67000,NaN,bachelor's degree,Biology
97,26,Yes,Yes,1,0,45000,No,NaN,more than 1 million,NaN,United States of America,software development,Employed for wages,male,0,10,40000,NaN,master's degree (non-professional),Music
130,41,Yes,Yes,1,1,75000,Yes,3,"less than 100,000",NaN,United States of America,software development,Employed for wages,male,1,30,75000,NaN,"some college credit, no degree",NaN
159,26,Yes,Yes,0,0,NaN,No,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,Not working and not looking for work,female,NaN,30,NaN,Full-Stack Web Developer,"some college credit, no degree",NaN
188,24,Yes,No,NaN,1,NaN,No,NaN,"between 100,000 and 1 million",NaN,Canada,NaN,Not working but looking for work,female,NaN,60,NaN,NaN,"some college credit, no degree",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15539,39,Yes,Yes,1,1,NaN,Yes,NaN,more than 1 million,NaN,Mexico,NaN,Self-employed freelancer,female,NaN,15,36000,Full-Stack Web Developer,"some college credit, no degree",NaN
15540,24,Yes,Yes,1,1,NaN,No,NaN,more than 1 million,NaN,Kenya,"arts, entertainment, sports, or media",Employed for wages,female,NaN,10,16800,NaN,bachelor's degree,Computer Systems Networking and Telecommunicat...
15541,23,Yes,Yes,1,0,21600,Yes,NaN,more than 1 million,NaN,Mexico,software development and IT,Employed for wages,male,NaN,24,42000,NaN,master's degree (non-professional),Computer Software Engineering
15593,29,Yes,No,NaN,0,NaN,No,NaN,more than 1 million,NaN,India,software development and IT,Employed for wages,female,0,5,200000,NaN,bachelor's degree,Accounting
15600,28,Yes,Yes,1,0,36000,Yes,NaN,"between 100,000 and 1 million",NaN,United States of America,software development and IT,Employed for wages,female,NaN,8,200000,NaN,bachelor's degree,Marketing

In [7]:
BCParticpants = pd.DataFrame(dataclean2_df['BootcampName'].value_counts())

#BCParticipants.reset_index(inplace=True)
#BCParticipants.columns = ["BootcampName", "Count"]

#BCParticipants.head(20)

NameError: name 'BCParticipants' is not defined

In [8]:
# Create DataFrame of the various boot camps along with the number of participants (enrollees)
# Create a DataFrame from using value_counts

Bootcamps_df = dataclean2_df['BootcampName'].value_counts()
Bootcamps_df

General Assembly         90
Flatiron School          54
Dev Bootcamp             48
The Iron Yard            40
Prime Digital Academy    30
                         ..
World Tech Makers         1
Operation Spark           1
Origin Code Academy       1
Interface Web School      1
SeedPaths                 1
Name: BootcampName, Length: 128, dtype: int64

In [9]:
# Count how many attendees of each bootcamp would recommend the bootcamp
Bootcamp_recommend = BCstay_df.loc[BCstay_df['BootcampRecommend']=="Yes",:]
Bootcamp_recommend

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
130,41,Yes,Yes,1,1,75000,Yes,3,"less than 100,000",NaN,United States of America,software development,Employed for wages,male,1,30,75000,NaN,"some college credit, no degree",NaN
209,25,Yes,Yes,0,1,NaN,Yes,NaN,more than 1 million,NaN,Mexico,NaN,Not working but looking for work,male,NaN,40,NaN,Full-Stack Web Developer,"professional degree (MBA, MD, JD, etc.)",Computer Science
272,38,Yes,Yes,1,1,50000,Yes,NaN,"between 100,000 and 1 million",NaN,United States of America,software development,Employed for wages,male,NaN,5,NaN,NaN,bachelor's degree,Structural Engineering
273,35,Yes,Yes,1,1,60000,Yes,NaN,"between 100,000 and 1 million",NaN,United States of America,software development,Employed for wages,male,NaN,10,54000,NaN,bachelor's degree,Public Administration
285,23,Yes,Yes,1,0,40000,Yes,NaN,NaN,NaN,United States of America,software development,Employed for wages,male,NaN,40,NaN,NaN,bachelor's degree,Journalism
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15436,45,Yes,No,NaN,0,NaN,Yes,1,"between 100,000 and 1 million",NaN,Ukraine,construction and extraction,Self-employed freelancer,male,1,5,36000,Full-Stack Web Developer,high school diploma or equivalent (GED),NaN
15465,25,Yes,No,NaN,0,NaN,Yes,NaN,"between 100,000 and 1 million",NaN,Ukraine,architecture or physical engineering,Employed for wages,male,NaN,15,14400,Back-End Web Developer,master's degree (non-professional),Electrical and Electronics Engineering
15539,39,Yes,Yes,1,1,NaN,Yes,NaN,more than 1 million,NaN,Mexico,NaN,Self-employed freelancer,female,NaN,15,36000,Full-Stack Web Developer,"some college credit, no degree",NaN
15541,23,Yes,Yes,1,0,21600,Yes,NaN,more than 1 million,NaN,Mexico,software development and IT,Employed for wages,male,NaN,24,42000,NaN,master's degree (non-professional),Computer Software Engineering
15600,28,Yes,Yes,1,0,36000,Yes,NaN,"between 100,000 and 1 million",NaN,United States of America,software development and IT,Employed for wages,female,NaN,8,200000,NaN,bachelor's degree,Marketing

In [10]:
# Merge the two created data frames on the name of tbe bootcamp

In [11]:
# Calculate percentage of each bootcamp's students who are recommenders
# Think of what should be the numerator and the demoninator

# Sort results in descending order

# Format for percentages

In [12]:
# Export to excel and remove index